<!DOCTYPE html>
<%= javascript_include_tag :defaults %> 
<head>
  <title>Auth</title>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
   <div id="user_nav">
   	<% if user_signed_in? %>
     signed in as: <%= current_user.email %> not you?
     <%= link_to "sign_out", destroy_user_session_path%>
     <% else %>
     <%= link_to "sign_up", new_user_registration_path%> or <%= link_to "sign_in", new_user_session_path %>
     

   	<% end %>
   
   <%= current_user_or_guest.email%>
   </div>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
